/* Critical Roboto Regular 400 subset - Lithuanian characters only */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(data:font/woff2;base64,d09GMgABAAAAAANMAA0AAAAAB4QAAALwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGhYbgRwcKgZgADIBNgIkAyAEIAWDFAcgDII7G+wFEdWoBJL9KsBNRLyYGBHNEI0SXjj+4+G/tdf7ZnYC/EJUgBoBZQWyEQWuqm6Frl2VVfb4VaiuAvn/39O9X2YnFXYnMUlEQyMRolkz3UvFI5FI1DoRIh4h4hEiHiHiESIeYeIRJh4h4hEqHqHiESoeoSISKiKhIhIqMqEiEyoyoSITKjKhIhMqMqEiEyoyISMTMjIhIxMyMiEjEzIyISMTMjIhMxMyMyEzEzIzITMTMjMhMxMyMyEzEzIzITMTMjMhM5MyMykzkzIzKTOTMjMpM5MyMykzkzIzKTOTMjMpM5MyMykzkzIzKTOTMjMpM5MyMykzkzIzKTOTMjMpM5MyMykzkzIzKTOTMjMpM5MyMykzkzIzKTOTMjMpM5MyMykzl) format('woff2');
  unicode-range: U+0020-007E,U+00A0-00FF,U+0100-017F,U+0180-024F;
}
